/* Monkey CSS Colors
© 2022 Slobodan Živanović. All rights reserved.
*/

:root {
  --monkey-colors-transparent: transparent;
    --monkey-colors-current: currentColor;
    --monkey-colors-black: #000000;
    --monkey-colors-white: #FFFFFF;
    --monkey-colors-whiteAlpha-0: rgba(255, 255, 255, 0.04);
    --monkey-colors-whiteAlpha-1: rgba(255, 255, 255, 0.06);
    --monkey-colors-whiteAlpha-2: rgba(255, 255, 255, 0.08);
    --monkey-colors-whiteAlpha-3: rgba(255, 255, 255, 0.16);
    --monkey-colors-whiteAlpha-4: rgba(255, 255, 255, 0.24);
    --monkey-colors-whiteAlpha-5: rgba(255, 255, 255, 0.36);
    --monkey-colors-whiteAlpha-6: rgba(255, 255, 255, 0.48);
    --monkey-colors-whiteAlpha-7: rgba(255, 255, 255, 0.64);
    --monkey-colors-whiteAlpha-8: rgba(255, 255, 255, 0.80);
    --monkey-colors-whiteAlpha-9: rgba(255, 255, 255, 0.92);
    --monkey-colors-blackAlpha-0: rgba(0, 0, 0, 0.04);
    --monkey-colors-blackAlpha-1: rgba(0, 0, 0, 0.06);
    --monkey-colors-blackAlpha-2: rgba(0, 0, 0, 0.08);
    --monkey-colors-blackAlpha-3: rgba(0, 0, 0, 0.16);
    --monkey-colors-blackAlpha-4: rgba(0, 0, 0, 0.24);
    --monkey-colors-blackAlpha-5: rgba(0, 0, 0, 0.36);
    --monkey-colors-blackAlpha-6: rgba(0, 0, 0, 0.48);
    --monkey-colors-blackAlpha-7: rgba(0, 0, 0, 0.64);
    --monkey-colors-blackAlpha-8: rgba(0, 0, 0, 0.80);
    --monkey-colors-blackAlpha-9: rgba(0, 0, 0, 0.92);
    --monkey-colors-gray-0: #F7FAFC;
    --monkey-colors-gray-1: #EDF2F7;
    --monkey-colors-gray-2: #E2E8F0;
    --monkey-colors-gray-3: #CBD5E0;
    --monkey-colors-gray-4: #A0AEC0;
    --monkey-colors-gray-5: #718096;
    --monkey-colors-gray-6: #4A5568;
    --monkey-colors-gray-7: #2D3748;
    --monkey-colors-gray-8: #1A202C;
    --monkey-colors-gray-9: #171923;
    --monkey-colors-red-0: #FFF5F5;
    --monkey-colors-red-1: #FED7D7;
    --monkey-colors-red-2: #FEB2B2;
    --monkey-colors-red-3: #FC8181;
    --monkey-colors-red-4: #F56565;
    --monkey-colors-red-5: #E53E3E;
    --monkey-colors-red-6: #C53030;
    --monkey-colors-red-7: #9B2C2C;
    --monkey-colors-red-8: #822727;
    --monkey-colors-red-9: #63171B;
    --monkey-colors-orange-0: #FFFAF0;
    --monkey-colors-orange-1: #FEEBC8;
    --monkey-colors-orange-2: #FBD38D;
    --monkey-colors-orange-3: #F6AD55;
    --monkey-colors-orange-4: #ED8936;
    --monkey-colors-orange-5: #DD6B20;
    --monkey-colors-orange-6: #C05621;
    --monkey-colors-orange-7: #9C4221;
    --monkey-colors-orange-8: #7B341E;
    --monkey-colors-orange-9: #652B19;
    --monkey-colors-yellow-0: #FFFFF0;
    --monkey-colors-yellow-1: #FEFCBF;
    --monkey-colors-yellow-2: #FAF089;
    --monkey-colors-yellow-3: #F6E05E;
    --monkey-colors-yellow-4: #ECC94B;
    --monkey-colors-yellow-5: #D69E2E;
    --monkey-colors-yellow-6: #B7791F;
    --monkey-colors-yellow-7: #975A16;
    --monkey-colors-yellow-8: #744210;
    --monkey-colors-yellow-9: #5F370E;
    --monkey-colors-green-0: #F0FFF4;
    --monkey-colors-green-1: #C6F6D5;
    --monkey-colors-green-2: #9AE6B4;
    --monkey-colors-green-3: #68D391;
    --monkey-colors-green-4: #48BB78;
    --monkey-colors-green-5: #38A169;
    --monkey-colors-green-6: #2F855A;
    --monkey-colors-green-7: #276749;
    --monkey-colors-green-8: #22543D;
    --monkey-colors-green-9: #1C4532;
    --monkey-colors-teal-0: #E6FFFA;
    --monkey-colors-teal-1: #B2F5EA;
    --monkey-colors-teal-2: #81E6D9;
    --monkey-colors-teal-3: #4FD1C5;
    --monkey-colors-teal-4: #38B2AC;
    --monkey-colors-teal-5: #319795;
    --monkey-colors-teal-6: #2C7A7B;
    --monkey-colors-teal-7: #285E61;
    --monkey-colors-teal-8: #234E52;
    --monkey-colors-teal-9: #1D4044;
    --monkey-colors-blue-0: #ebf8ff;
    --monkey-colors-blue-1: #bee3f8;
    --monkey-colors-blue-2: #90cdf4;
    --monkey-colors-blue-3: #63b3ed;
    --monkey-colors-blue-4: #4299e1;
    --monkey-colors-blue-5: #3182ce;
    --monkey-colors-blue-6: #2b6cb0;
    --monkey-colors-blue-7: #2c5282;
    --monkey-colors-blue-8: #2a4365;
    --monkey-colors-blue-9: #1A365D;
    --monkey-colors-cyan-0: #EDFDFD;
    --monkey-colors-cyan-1: #C4F1F9;
    --monkey-colors-cyan-2: #9DECF9;
    --monkey-colors-cyan-3: #76E4F7;
    --monkey-colors-cyan-4: #0BC5EA;
    --monkey-colors-cyan-5: #00B5D8;
    --monkey-colors-cyan-6: #00A3C4;
    --monkey-colors-cyan-7: #0987A0;
    --monkey-colors-cyan-8: #086F83;
    --monkey-colors-cyan-9: #065666;
    --monkey-colors-purple-0: #FAF5FF;
    --monkey-colors-purple-1: #E9D8FD;
    --monkey-colors-purple-2: #D6BCFA;
    --monkey-colors-purple-3: #B794F4;
    --monkey-colors-purple-4: #9F7AEA;
    --monkey-colors-purple-5: #805AD5;
    --monkey-colors-purple-6: #6B46C1;
    --monkey-colors-purple-7: #553C9A;
    --monkey-colors-purple-8: #44337A;
    --monkey-colors-purple-9: #322659;
    --monkey-colors-pink-0: #FFF5F7;
    --monkey-colors-pink-1: #FED7E2;
    --monkey-colors-pink-2: #FBB6CE;
    --monkey-colors-pink-3: #F687B3;
    --monkey-colors-pink-4: #ED64A6;
    --monkey-colors-pink-5: #D53F8C;
    --monkey-colors-pink-6: #B83280;
    --monkey-colors-pink-7: #97266D;
    --monkey-colors-pink-8: #702459;
    --monkey-colors-pink-9: #521B41;
    --monkey-colors-linkedin-0: #E8F4F9;
    --monkey-colors-linkedin-1: #CFEDFB;
    --monkey-colors-linkedin-2: #9BDAF3;
    --monkey-colors-linkedin-3: #68C7EC;
    --monkey-colors-linkedin-4: #34B3E4;
    --monkey-colors-linkedin-5: #00A0DC;
    --monkey-colors-linkedin-6: #008CC9;
    --monkey-colors-linkedin-7: #0077B5;
    --monkey-colors-linkedin-8: #005E93;
    --monkey-colors-linkedin-9: #004471;
    --monkey-colors-facebook-0: #E8F4F9;
    --monkey-colors-facebook-1: #D9DEE9;
    --monkey-colors-facebook-2: #B7C2DA;
    --monkey-colors-facebook-3: #6482C0;
    --monkey-colors-facebook-4: #4267B2;
    --monkey-colors-facebook-5: #385898;
    --monkey-colors-facebook-6: #314E89;
    --monkey-colors-facebook-7: #29487D;
    --monkey-colors-facebook-8: #223B67;
    --monkey-colors-facebook-9: #1E355B;
    --monkey-colors-messenger-0: #D0E6FF;
    --monkey-colors-messenger-1: #B9DAFF;
    --monkey-colors-messenger-2: #A2CDFF;
    --monkey-colors-messenger-3: #7AB8FF;
    --monkey-colors-messenger-4: #2E90FF;
    --monkey-colors-messenger-5: #0078FF;
    --monkey-colors-messenger-6: #0063D1;
    --monkey-colors-messenger-7: #0052AC;
    --monkey-colors-messenger-8: #003C7E;
    --monkey-colors-messenger-9: #002C5C;
    --monkey-colors-whatsapp-0: #dffeec;
    --monkey-colors-whatsapp-1: #b9f5d0;
    --monkey-colors-whatsapp-2: #90edb3;
    --monkey-colors-whatsapp-3: #65e495;
    --monkey-colors-whatsapp-4: #3cdd78;
    --monkey-colors-whatsapp-5: #22c35e;
    --monkey-colors-whatsapp-6: #179848;
    --monkey-colors-whatsapp-7: #0c6c33;
    --monkey-colors-whatsapp-8: #01421c;
    --monkey-colors-whatsapp-9: #001803;
    --monkey-colors-twitter-0: #E5F4FD;
    --monkey-colors-twitter-1: #C8E9FB;
    --monkey-colors-twitter-2: #A8DCFA;
    --monkey-colors-twitter-3: #83CDF7;
    --monkey-colors-twitter-4: #57BBF5;
    --monkey-colors-twitter-5: #1DA1F2;
    --monkey-colors-twitter-6: #1A94DA;
    --monkey-colors-twitter-7: #1681BF;
    --monkey-colors-twitter-8: #136B9E;
    --monkey-colors-twitter-9: #0D4D71;
    --monkey-colors-telegram-0: #E3F2F9;
    --monkey-colors-telegram-1: #C5E4F3;
    --monkey-colors-telegram-2: #A2D4EC;
    --monkey-colors-telegram-3: #7AC1E4;
    --monkey-colors-telegram-4: #47A9DA;
    --monkey-colors-telegram-5: #0088CC;
    --monkey-colors-telegram-6: #007AB8;
    --monkey-colors-telegram-7: #006BA1;
    --monkey-colors-telegram-8: #005885;
    --monkey-colors-telegram-9: #003F5E;
    --monkey-colors-grassTeal: #88ccca;

    /*Pantone*/
    --monkey-colors-2000: #98B4D4;
    --monkey-colors-2001: #C3447A;
    --monkey-colors-2002: #BC243C;
    --monkey-colors-2003: #7FCFCF;
    --monkey-colors-2004: #E15D44;
    --monkey-colors-2005: #55B4B0;
    --monkey-colors-2006: #DFCFBE;
    --monkey-colors-2007: #9B2335;
    --monkey-colors-2008: #5B5EA6;
    --monkey-colors-2009: #EFC050;
    --monkey-colors-2010: #45B8AC;
    --monkey-colors-2011: #D65076;
    --monkey-colors-2012: #DD4124;
    --monkey-colors-2013: #009B77;
    --monkey-colors-2014: #B565A7;
    --monkey-colors-2015: #955251;
    --monkey-colors-2016: #F7CAC9;
    --monkey-colors-2016: #92A8D1;
    --monkey-colors-2017: #88B04B;
    --monkey-colors-2018: #6B5B95;
    --monkey-colors-2019: #FF6F61;
    --monkey-colors-2020: #34568B;
    --monkey-colors-2021: #939597;
    --monkey-colors-2021: #F5DF4D;
    --monkey-colors-2022: #6667AB;
}